html {
font-family: 'Hind', sans-serif;
font-size: 16px;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}


/*
div {
  border: 1px solid green;
}
*/

.topline {
  display: flex;
  color: gray;
  font-weight: bold;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.topline img {
  height: 2.5rem;
  padding-left: 1.5rem;
}

.topline span {
  font-size: 2rem;
  padding: 1rem 0;
}
.bold {
  font-weight: bold;
  color: black;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    list-style: none;
    padding-right: 0.5rem;
}

li {
  padding-right: 1rem;
}


.banner {
  background-color: lightgray;
  display: flex;

}

.banner img {
  width: 60%;
  padding: 2rem 1.5rem;
  max-height: 35rem;
  margin: 0;
}

.banner-right {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  justify-content: center;

}

.banner-right h2, h3, h4  {
  padding: 1rem 0;
}

.button {
  background-color: black;
  color: white;
  width: 70%;
}

.button h4 {
  font-size: 1.75rem;
  text-align: center;
  padding: 1rem 0;

}

.img-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 0;
}


.info {
  background-color: white;
  display: flex;
/*   flex-flow: column wrap ;  */
   padding: 0 0 0 24px;

}

.info-main {
  display: flex;
  flex-flow: column wrap;
  width: 60%;
  flex-grow: 1;

}

.info-main > .img-container {
    width: 100%;
    height: 18rem;
    background-image: url("../images/information-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.info-main h2 {
  font-size: 2rem;
  padding: 2rem 0 1.5rem;
}

.info-main p {
  margin: 0 0 2rem;
}

.info-items {
  display: flex;
  width: 40%;
  flex-direction: column;
  border-left: 2px solid gray;

  padding: 16px 0 32px;
  margin-left: 1rem;
}

.info-item {
  display: flex;
  margin-left: 1rem;
  padding: 1rem;
}

.info-item .img-container {
  width: 35%;
  height: auto;
}

.info-item-text {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.img-container img {
    width: 100%;
    height: 100%;
}

.info-item-text h4 {
  padding-bottom:1rem;
  padding-top: 2rem;
}


.info-item-text p {
  padding: 1rem;
}

.info-item-text p.link {
  padding: 1rem;
  color: blue;
  font-weight: bold;
}

.learning-container {
  display: block;
  background-color: lightgray;
  text-align: center;
  width: 100%;
  padding: 2rem 2rem;
}

.learning-container h4 {
  padding: 2rem 2rem;
  width: 100%;
}

.learning-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.learning-item {
  width: 15rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.learning-item img {
  width: 100%;s
  height: auto;
}


.learning-item .textbox {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 9rem;
  padding-left: 1rem;
}

.learning-item .textbox h5 {
  margin-top: 0.5rem;
  font-size: 1.25rem;

}

.learning-item .textbox span {
  font-size 0.9 rem;
  margin-top: 0.5rem;
  color: lightgray;
  margin-bottom: 0.75rem;
}


.thesis {
  display: block;

}

.thesis h5 {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.thesis-items {
  display: inline-flex;
}

.thesis-main {
  width: 60%;
  background-color: white;
  color: gray;
}
.thesis-main h6 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: black;
}

.video {
  margin-right: 1rem;

}

video {
  margin-bottom: 1.5rem;
  border 2px solid black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 40%;

}


footer {
  height: 4rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid gray;
  color: gray;
}

footer a {
  text-decoration: none;
  color: gray;
}
